<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>DJ</b> LE GIN</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header
  class="w3-display-container w3-content w3-wide"
  style="max-width: 1500px"
  id="home"
>
  <img
    class="w3-image"
    src="https://picsum.photos/1500/800?random=45"
    alt="Architecture"
    width="1500"
    height="800"
  />
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      <span class="w3-padding w3-black w3-opacity-min"><b>DJ</b></span>
      <span class="w3-hide-small w3-text-light-grey">LE GIN</span>
    </h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width: 1564px">
  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
      Projects
    </h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">guitar lead</div>
        <img
          src="https://picsum.photos/1500/800?random=5"
          alt="House"
          style="width: 99%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">piano playing</div>
        <img
          src="https://picsum.photos/1500/800?random=6"
          alt="House"
          style="width: 99%"
        />
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">trance dj</div>
        <img
          src="https://picsum.photos/1500/800?random=7"
          alt="House"
          style="width: 99%"
        />
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
      <span class="w3-padding w3-black w3-opacity-min"><b>DJ</b></span>
      <span class="w3-hide-small">Legin</span>
    </h3>
    <p>
      As a DJ, my love for all genres of music runs deep, weaving through the
      tapestry of my creative expression. From the infectious beats of
      electronic dance music to the soulful melodies of jazz, each genre holds a
      unique place in my heart and repertoire. Embracing diversity in music
      allows me to craft seamless transitions between tracks, creating an
      immersive experience that transcends boundaries and connects with
      audiences on a profound level. Whether it's the pulsating rhythm of
      hip-hop or the ethereal sounds of ambient music, I find beauty and
      inspiration in every note, blending disparate elements into harmonious
      sonic landscapes that captivate listeners and ignite the dance floor.
    </p>

    <p>
      Exploring various genres not only broadens my musical palette but also
      enriches my understanding of different cultures and artistic expressions.
      As a curator of sound, I take pride in curating sets that traverse the
      vast spectrum of human emotion, from the euphoria of uplifting trance to
      the introspective intros of indie rock. Each genre carries its own
      narrative, and through my DJ sets, I strive to weave these narratives
      together, inviting listeners on a journey of discovery and exploration.
      With an open mind and a discerning ear, I embrace the eclectic nature of
      music, celebrating its power to unite, inspire, and move us in ways that
      words alone cannot express.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img
        src="https://picsum.photos/1500/800?random=8"
        alt="John"
        style="width: 100%"
      />
      <h3>you</h3>
      <p class="w3-opacity">adoring fans</p>
      <p>come to the gigs</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img
        src="https://picsum.photos/1500/800?random=9"
        alt="Jane"
        style="width: 100%"
      />
      <h3>dj legin</h3>
      <p class="w3-opacity">dj</p>
      <p>born in Bournemouth</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img
        src="https://picsum.photos/1500/800?random=10"
        alt="Mike"
        style="width: 100%"
      />
      <h3>Lola</h3>
      <p class="w3-opacity">pug</p>
      <p>dog</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>get in touch and talk about tickets.</p>
    <form action="#" target="_blank">
      <input
        class="w3-input w3-border"
        type="text"
        placeholder="Name"
        required
        name="Name"
      />
      <input
        class="w3-input w3-section w3-border"
        type="text"
        placeholder="Email"
        required
        name="Email"
      />
      <input
        class="w3-input w3-section w3-border"
        type="text"
        placeholder="Subject"
        required
        name="Subject"
      />
      <input
        class="w3-input w3-section w3-border"
        type="text"
        placeholder="Comment"
        required
        name="Comment"
      />
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>

  <!-- Image of location/map -->
  <div class="w3-container">
    <img
      src="https://picsum.photos/1500/800?random=11"
      class="w3-image"
      style="width: 100%"
    />
  </div>

  <!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>
    <a
      href="#"
      (click)="announce('No Positions Currently Available')"
      title="W3.CSS"
      target="_blank"
      class="w3-hover-text-green"
      >careers</a
    >
  </p>
</footer>
